.createLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formLabelName {
  font-weight: bold;
  margin-bottom: 3%;
  margin-left: 10%;
  width: 80%;
}

.formLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton {  
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addRetingButton {
  background-color: #32ad19;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.removeRetingButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
